.CandidateList{
    text-align: center;
    align-items: center;
    margin: auto;
    display: block;
}

.candidates_just{
    /* width: 5%; */
    text-align: center;
    align-items: left;
    margin: auto;
    /* display: block; */
}