.CandidateList{
    text-align: center;
    align-items: center;
    margin: auto;
    display: block;
}

.candidates_just{
    width: 100%;
    text-align: center;
    align-items: left;
    margin: auto;
    /* display: block; */
}

.graph_just{
     text-align: center;
    align-items: center;
    margin: auto;
    display: block;
}