.center_just{
    text-align: center;
    align-items: center;
    margin: auto;
    display: block;
}

.left_just{
    text-align: left;
    display: block;
}

.right_just{
    text-align: right;
    display: block;
    margin-right: 20px;
}

.budgetForm{
    text-align: center;
    margin: auto;
    display: flex;
    width: 50%;
}

.graph_just{
    width: 50%;
    text-align: center;
    align-items: center;
    margin: auto;
    display: block;
}