.center_just{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: block;
}

.left_just{
    text-align: left;
    display: block;
}

.right_just{
    text-align: right;
    display: block;
}

.budgetForm{
    display: flex;
}